# macOS
.DS_Store

# environment
.env*

# npm/yarn
package-log.json
dist/
node_modules/
*.lock
npm-debug.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# expo
.expo/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# jest
.jest

# stryker
reports
.stryker-tmp
